* {
  padding: 0px;
  margin: 0px;
}

.box {
  /* width: 200px;
  height: 200px;
  color: white;
  margin: 120px;
  background-color: black; */
  /* transition-property: width;
  transition-duration: 2s; */
  /* transition: width 2s, height 2s, background-color 2s, transform 2s,
    border-radius 2s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out; */
  /* animation-name: firstAnimation;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
  /* animation: firstAnimation 2s linear 1s infinite alternate; */
}

.box:hover {
  /* transform: translate(50px, 100px); */
  /* transform: rotate(-70deg); */
  /* transform: scale(2.2, 7.6); */
  /* transform: scaleX(2);
  transform: scaleY(2); */
  /* transform: scale(2, 2); */
  /* transform: skewX(20deg);
  transform: skewY(20deg); */
  /* transform: skew(20deg, 40deg); */
  /* width: 400px;
  height: 400px;
  background-color: burlywood;
  transform: rotate(360deg);
  border-radius: 50%; */
  /* animation-play-state: paused; */
}

@keyframes firstAnimation {
  /* from {
    background-color: cornflowerblue;
    width: 200px;
    transform: rotate(0deg);
  }
  to {
    background-color: red;
    width: 400px;
    transform: rotate(180deg);
  } */
  /* 0% {
    width: 200px;
  }
  25% {
    width: 400px;
  }
  50% {
    width: 600px;
  }
  100% {
    width: 1000px;
  } */
}

.box {
  width: 200px;
  height: 200px;
  color: white;
  margin: 120px;
  background-color: rgb(85, 101, 171);
  animation: bounce 1.2s 2;
}

/* @keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-35px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
} */

/* p {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;
  animation: typing 2.8s steps(8) infinite, blink 0.6s infinite;
}

@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 120px;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */
/* 
div.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #ccc;
  border-top-color: dodgerblue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
} */

div.pulse {
  width: 80px;
  height: 80px;
  background-color: red;
  transform: rotate(45deg);
  animation: pulse 0.8s infinite;
  margin: 120px
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
