#one {
  /* padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; */
  /* padding: 20px 10px 16px 8px; */
  /* padding: 20px 10px; */
  padding: 100px;
  /* border-style: solid;
  border-width: 4px;
  border-color: brown; */
  border: 4px solid brown;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 500;
  /* text-align: justify; */
  text-align: center;
  text-transform: uppercase;
  line-height: 32px;
  color: #ffffff;
  background-color: rgba(47, 30, 30, 0.471);
}
