p {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  /* font-family: "Playwrite HU", cursive; */
}

/* li:first-child {
  color: red;
}

li:last-child {
  color: green;
}

li:nth-child(3) {
  color: blue;
} */

li:nth-child(even) {
  color: red;
}

li:nth-child(odd) {
  color: green;
}

ul::before {
  content: "::before - this is virtual content";
  color: brown;
}

ul::after {
  content: "::after - this is virtual content";
  color: chocolate;
}

/* .image::after {
  content: "this is landscape image";
  color: black;
} */

img {
  display: none;
}
