.box {
  width: 200px;
  height: 200px;
  background-color: red;
  display: inline-block;
  margin: 10px;
}

div.static {
  position: static;
}

div.relative {
  position: relative;
  top: 50px;
  left: 50px;
  background-color: aqua;
}

div.absolute {
  background-color: rgb(94, 160, 160);
  position: absolute;
  bottom: 5px;
  right: 5px;
}

div.fixed {
  position: fixed;
  background-color: rgb(81, 81, 81);
  bottom: 0px;
  left: 0px;
}

div.sticky {
  position: sticky;
  background-color: rgb(214, 208, 208);
  top: 50px;
}
