* {
  padding: 0px;
  margin: 0px;
}

.box {
  width: 200px;
  height: 200px;
  color: white;
  margin: 120px;
  background-color: black;
  /* transition-property: width;
  transition-duration: 2s; */
  /* transition: width 2s, height 2s, background-color 2s, transform 2s,
    border-radius 2s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out; */
  /* animation-name: firstAnimation;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
  /* animation: firstAnimation 2s linear 1s infinite alternate; */
}

.box:hover {
  /* transform: translate(50px, 100px); */
  /* transform: rotate(-70deg); */
  /* transform: scale(2.2, 7.6); */
  /* transform: scaleX(2);
  transform: scaleY(2); */
  /* transform: scale(2, 2); */
  /* transform: skewX(20deg);
  transform: skewY(20deg); */
  /* transform: skew(20deg, 40deg); */
  /* width: 400px;
  height: 400px;
  background-color: burlywood;
  transform: rotate(360deg);
  border-radius: 50%; */
  animation-play-state: paused;
}

@keyframes firstAnimation {
  /* from {
    background-color: cornflowerblue;
    width: 200px;
    transform: rotate(0deg);
  }
  to {
    background-color: red;
    width: 400px;
    transform: rotate(180deg);
  } */
  0% {
    width: 200px;
  }
  25% {
    width: 400px;
  }
  50% {
    width: 600px;
  }
  100% {
    width: 1000px;
  }
}
